.videoSidebar {
  position: absolute;
  top: 2%;
  right: 10px;
  color: white;
}

.videoSidebar__buttons {
  padding: 20px;
  text-align: center;
}

.videoSidebar__deleteOption {
  padding-bottom: 345px;
  padding-left: 35px;
  color: white;
}

.videoSidebar__deleteIcon {
  color: white;
}

.videoSidebar__deleteIcon2:hover {
  cursor: pointer !important;
}

.videoSidebar__IconButton {
  color: white;
}

.TextField-without-border-radius fieldset {
  border-radius: 50px;
}

.videoSidebar__shareButtons {
  margin-left: 3px;
  margin-top: 3px;
}
