.videoSidebar {
  position: absolute;
  top: 50%;
  right: 10px;
  color: white;
}

.videoSidebar__buttons {
  padding: 20px;
  text-align: center;
}

.TextField-without-border-radius fieldset {
  border-radius: 50px;
}

.videoSidebar__shareButtons {
  margin-left: 3px;
  margin-top: 3px;
}
